/* Created Using Easy HTML v1.4.5 */
/* https://play.google.com/store/apps/details?id=ak.andro.easyhtml */

h2{ 
text-align: center; 
color: #277582; 
padding: 20px; 
} 
label{ 
color: #08ffd1; 
font-size: 17px; 